@use './theme.scss';
@use './common.scss' as common;

html, body, #root, .app {
    @include common.size(100%, 100%); // 전체 화면 사용
}

.page {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows :  1fr 1fr 1fr;
    @include common.size(100%, 100%);

    .colorlog-nav-home {
        margin-top: 8%;
        grid-row-start: 1;
	    grid-row-end: 2;

        grid-column-start: 1;
        grid-column-end: 2;
        svg {
            @include common.size(18%, fit-content);
            margin-left: 8%;
            color: transparentize(rgb(255, 163, 179), 0.2);
            &:hover {
                @include common.hover-event();
                transform: scale(1.15);
                color: theme.$dark-gray-color;
            }
        }
    }

    .colorlog-nav-left {
        grid-row-start: 2;
	    grid-row-end: 3;

        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        align-items: center;
        svg {
            @include common.size(15%, fit-content);
            margin-left: 30%;
            color: transparentize(gray, 0.2);
            &:hover {
                @include common.hover-event();
                transform: scale(1.15);
                color: theme.$dark-gray-color;
            }
        }
    }

    .colorlog-nav-right {
        grid-row-start: 2;
	    grid-row-end: 3;

        grid-column-start: 3;
        grid-column-end: 4;
        @include common.flex-row(flex-end, baseline);
        align-items: center;
        svg {
            float: right;
            @include common.size(15%, fit-content);
            margin-right: 30%;
            color: transparentize(gray, 0.2);
            &:hover {
                @include common.hover-event();
                transform: scale(1.15);
                color: theme.$dark-gray-color;
            }
        }
    }

    .colorlog {
        @include common.size(100%, 100%);
        grid-column-start: 2;
	    grid-column-end: 3;

        grid-row-start: 1;
	    grid-row-end: 4;

        .title {
            margin-top: 3%;
            font-size: 30px;
            text-align: center;
        }
        .displayer {
            @include common.size(40%, 35%); // 60% 90%
            margin: 0 auto;     // 가운데 정렬
            border : solid 2px black;
            margin-top : 3%;
            margin-bottom : 3%;
        }
        .colorlogSlider{
            margin: 0 auto;     // 가운데 정렬
            width : 75%;
            margin-top : 1%;
            margin-bottom: 1%;
        }
        .memo {
            width: 100%;
            text-align: center;
            label {
                display: block;
                margin-top: 3%;
                margin-bottom: 1%;
                font-size: 20px;
            }
            textarea {
                width: 75%;
            }            
        }
        .footer {
            width: 100%;
            text-align: center;
            .saveBtn {
                @include common.size(100px, 45px);
                margin-top: 2%;
                margin-bottom: 3%;
                background-color: theme.$sub-color;
                border-radius: 10px;
                border:none;
            }
            .activeBtn {
                &:hover {
                    @include common.hover-event();
                    transform: scale(1.15);
                    color: theme.$dark-gray-color;
                }
            }
            .inactiveBtn {
                color: theme.$dark-gray-color;
                background-color: transparentize(theme.$step-color, 0.6);
            }
        }
    }
}

input[type=range] {
    width:100%;
	appearance: none;
	background: transparent;
    outline: auto;
}